<div class="center" mat-dialog-content>
  <h1 mat-dialog-title>Registrar Servicios</h1>
  <form class="example-form" [formGroup]="comerciosForm" autocomplete="off">

    <mat-form-field class="field-app">
      <mat-label>Nombre de servicio</mat-label>
      <input matInput formControlName="nom_servicio">
      <mat-hint *ngIf="validateRequired(f['nom_servicio'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Duracion</mat-label>
      <input matInput formControlName="duracion">
      <mat-hint *ngIf="validateRequired(f['duracion'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Hora de apertura</mat-label>
      <input type="time" matInput formControlName="hora_apertura">
      <mat-hint *ngIf="validateRequired(f['hora_apertura'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Hora de cierre</mat-label>
      <input type="time" matInput formControlName="hora_cierre">
      <mat-hint *ngIf="validateRequired(f['hora_cierre'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>
    
    <h4>Seleccione Comercio</h4>
    <mat-form-field class="field-app">
      <mat-label>Comercios registrado</mat-label>
      <mat-select formControlName="comercios">
          <mat-option></mat-option>
          <ng-container *ngFor="let data of comercios">
              <mat-option [value]="data.id_comercio">{{data.id_comercio + "  " + data.nom_comercio }}</mat-option>
          </ng-container>
      </mat-select>
      <mat-hint *ngIf="validateRequired(f['comercios'])">
          Campo obligatorio
      </mat-hint>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="aceptar()" cdkFocusInitial>Aceptar
  </button>
</div>
