<div class="center" mat-dialog-content>
  <h1 mat-dialog-title>Registrar Turnos</h1>
  <form class="example-form" [formGroup]="serviciosForm" autocomplete="off">
        
    <h4>Seleccione Comercion</h4>
    <mat-form-field class="field-app">
      <mat-label>Comercios registrado</mat-label>
      <mat-select formControlName="comercio">
          <mat-option></mat-option>
          <ng-container *ngFor="let data of comercio">
              <mat-option [value]="data.id_comercio">{{data.id_comercio + "  " + data.nom_comercio }}</mat-option>
          </ng-container>
      </mat-select>
      <mat-hint *ngIf="validateRequired(f['comercio'])">
          Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <h4>Seleccione Servicio</h4>
    <mat-form-field class="field-app">
      <mat-label>Servicios registrado</mat-label>
      <mat-select formControlName="servicio">
          <mat-option></mat-option>
          <ng-container *ngFor="let data of servicio">
              <mat-option [value]="data.id_servicio">{{data.id_servicio + "  " + data.nom_servicio }}</mat-option>
          </ng-container>
      </mat-select>
      <mat-hint *ngIf="validateRequired(f['servicio'])">
          Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Fecha de Turno</mat-label>
      <input matInput [matDatepicker]="dp3" readonly="true"
             formControlName="fecha_turno">
      <mat-hint *ngIf="validateRequired(f['fecha_turno'])">
        Campo obligatorio
      </mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Hora Inicio</mat-label>
      <input type="time" matInput formControlName="hora_inicio">
      <mat-hint *ngIf="validateRequired(f['hora_inicio'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Hora Fin</mat-label>
      <input type="time" matInput formControlName="hora_fin">
      <mat-hint *ngIf="validateRequired(f['hora_fin'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="aceptar()" cdkFocusInitial>Aceptar
  </button>
</div>
