<h2>Comercios Registrados</h2>
<div class="demo-button-container">
  <button mat-raised-button (click)="addComercios()" class="demo-button">
    Registrar comercio
  </button>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id_comercio">
      <th mat-header-cell *matHeaderCellDef> ID COMERCIO</th>
      <td mat-cell *matCellDef="let row"> {{row.id_comercio}} </td>
    </ng-container>

    <ng-container matColumnDef="aforo_maximo">
      <th mat-header-cell *matHeaderCellDef> AFORO MAXIMO</th>
      <td mat-cell *matCellDef="let row"> {{row.aforo_maximo}} </td>
    </ng-container>

    <ng-container matColumnDef="nom_comercio">
      <th mat-header-cell *matHeaderCellDef> NOMBRE COMERCIO</th>
      <td mat-cell *matCellDef="let row"> {{row.nom_comercio}} </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Ver Comercio" (click)="showDetails(row)">
          <mat-icon>remove_red_eye</mat-icon>
        </button>|
        <button mat-icon-button matTooltip="Editar Comercio" (click)="editarComercios(row)">
          <mat-icon>edit</mat-icon>
        </button>|
        <button mat-icon-button matTooltip="Eliminar Comercio" (click)="deleteComercios(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Ningún elemento coincide con la busqueda "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<br>
