<h3 class="center">Detalles del Comercio</h3>
<p>Id del Comercio: <strong>{{currentComercio.id_comercio}}</strong></p>
<p>Aforo Maximo: <strong>{{currentComercio.aforo_maximo}}</strong></p>
<p>Nombre del comercio: <strong>{{currentComercio.nom_comercio}}</strong></p>
<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancelar()">Cancelar</button>  
</div>
