<h2>Servicios Registrados</h2>
<div class="demo-button-container">
  <button mat-raised-button (click)="addServicios()" class="demo-button">
    Registrar Servicios
  </button>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id_servicio">
      <th mat-header-cell *matHeaderCellDef> ID SERVICIO</th>
      <td mat-cell *matCellDef="let row"> {{row.id_servicio}} </td>
    </ng-container>

    <ng-container matColumnDef="duracion">
      <th mat-header-cell *matHeaderCellDef> DURACION</th>
      <td mat-cell *matCellDef="let row"> {{row.duracion}} </td>
    </ng-container>

    <ng-container matColumnDef="hora_apertura">
      <th mat-header-cell *matHeaderCellDef> HORA APERTURA</th>
      <td mat-cell *matCellDef="let row"> {{row.hora_apertura}} </td>
    </ng-container>

    <ng-container matColumnDef="hora_cierre">
      <th mat-header-cell *matHeaderCellDef> HORA Cierre</th>
      <td mat-cell *matCellDef="let row"> {{row.hora_cierre}} </td>
    </ng-container>

    <ng-container matColumnDef="nom_servicio">
      <th mat-header-cell *matHeaderCellDef> Nombre del Servicio</th>
      <td mat-cell *matCellDef="let row"> {{row.nom_servicio}} </td>
    </ng-container>

    <ng-container matColumnDef="comercio">
      <th mat-header-cell *matHeaderCellDef> ID del Comercio</th>
      <td mat-cell *matCellDef="let row"> {{row.comercio.nom_comercio}} </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let row">        
        <button mat-icon-button matTooltip="Eliminar Empleado" (click)="deleteServicios(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Ningún elemento coincide con la busqueda "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<br>
