<div class="center" mat-dialog-content>
  <h1 mat-dialog-title>Agregar Comercio</h1>
  <form class="example-form" [formGroup]="comerciosForm" autocomplete="off">
    <mat-form-field class="field-app">
      <mat-label>Id Comercio</mat-label>
      <input matInput formControlName="id_comercio" type="number" readonly="true" class="example-right-align">
      <mat-hint *ngIf="validateRequired(f['id_comercio'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Aforo Maximo</mat-label>
      <input matInput formControlName="aforo_maximo" type="number" class="example-right-align">
      <mat-hint *ngIf="validateRequired(f['aforo_maximo'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Nombre de Comercio</mat-label>
      <input matInput formControlName="nom_comercio">
      <mat-hint *ngIf="validateRequired(f['nom_comercio'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="aceptar()" cdkFocusInitial>Aceptar
  </button>
</div>
