<h2>Turnos Registrados</h2>
<div class="demo-button-container">
  <button mat-raised-button (click)="addTurnos()" class="demo-button">
    Registrar Turnos
  </button>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id_turno">
      <th mat-header-cell *matHeaderCellDef> ID Turno</th>
      <td mat-cell *matCellDef="let row"> {{row.id_turno}} </td>
    </ng-container>

    <ng-container matColumnDef="id_servicio">
      <th mat-header-cell *matHeaderCellDef> ID SERVICIO</th>
      <td mat-cell *matCellDef="let row"> {{row.id_servicio}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_turno">
      <th mat-header-cell *matHeaderCellDef> Fecha de Turno</th>
      <td mat-cell *matCellDef="let row"> {{row.fecha_turno}} </td>
    </ng-container>

    <ng-container matColumnDef="hora_inicio">
      <th mat-header-cell *matHeaderCellDef> HORA INICIO</th>
      <td mat-cell *matCellDef="let row"> {{row.hora_inicio}} </td>
    </ng-container>

    <ng-container matColumnDef="hora_fin">
      <th mat-header-cell *matHeaderCellDef> HORA FIN</th>
      <td mat-cell *matCellDef="let row"> {{row.hora_fin}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> ESTADO</th>
      <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let row">        
        <button mat-icon-button matTooltip="Eliminar Turno" (click)="deleteTurnos(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Ningún elemento coincide con la busqueda "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<br>
